body {
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
div {
    margin: 20px auto;
    background-color: white;
    width: 25rem;
    color:#666;
    text-align: center;
}
.desarrollador {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
p {
    font-size: 8px;
    text-align: center;
}
.avatar {
    width: 15rem;
    margin: 0 auto;
}
.twitter {
    width: 8rem;
}
.link {
    width: 8rem;
}
.git {
    width: 8rem;
}